// Main Calendar

// @import "zen/background";
// @include zen-grid-background($zen-column-count, $zen-gutter-width);
// $display-zen-grid-background: true;

.npf-event-calendar {

  .event-container {
    // background-color:grey;
    @include zen-grid-container();
    @import "zen/background";
    $zen-column-count:7;
    $zen-gutter-width:10px;

    border:3px solid white;

    &:hover {
      // box-shadow: inset 0px 0px 10px 5px rgba(98,181,229, 0.5);
      border: 3px solid $color-light-blue;
      background-color: rgba(98,181,229, 0.1);
    }

    .event-left {
      @include zen-grid-item(1, 1);
      margin-top: 2%;
      // background-color:purple;
    }

    .event-middle {
      @include zen-grid-item(4, 2);
      margin-left: 15%;
      // background-color:yellow;
      p{
        font-size:$base-font-size;
      }
    }

    .event-right {
      @include zen-grid-item(2, 6);
      margin-top: 2%;
      // background-color:salmon;


      img {
        border: 3px solid $color-light-blue;
        width: 90%;


        &:hover {
          border: 3px solid $color-orange;
        }
      }
    }

  }
  // Pager styles
  .pager {
    a {
      border:0px solid #fff;
    }
  }
}
